<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ToDo App</title>
</head>

<body>
  <% for(let i = 0 ;i < todos.length;i++){ %>
  <h1><%= todos[i]%></h1>
  <% } %>
  <form action="/" method="POST">
    <input name="newItem" placeholder="Add new todo" />
    <button type="submit">ADD</button>
  </form>
</body>

</html>